# Data files (large, downloaded during preprocessing)
data/
*.jsonl

# Model files (too large for GitHub, use Google Drive)
*.pt

# Python
__pycache__/
*.pyc

# Environment
.env
venv/
.ipynb_checkpoints/
